<h1>Welcome to Bank ATM</h1>
<br/>

<% if user_signed_in? %>
  <p>Usuario logado: <%= current_user.email %></p>

  <p>Número da conta: <%= current_user.id %></p>

  <% if current_user.inactive_at.nil? %>
      <%= button_to "Withdraw" %>
      <%= button_to "Deposit" %>
      <%= button_to "Extract" %>
      <%= button_to "Transfer" %>     

      <%= button_to "Close account", users_path(current_user), method: :get %>
  <% else %>
      <p>This account has been closed!!!</p>
  <% end %>

  <br />
  <%= button_to "Logout", destroy_user_session_path, method: :delete%>
  
<% else %>

  <p>Por favor realizar login</p>
  <%= link_to "Login", user_session_path%>
<% end %>
